<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            
            <!-- Título -->
            <h3 class="text-center mb-4 titulo">🍮 Nuestros Flanes</h3>
            <p class="text-center text-muted mb-5">
                Descubre la variedad de sabores disponibles en OnlyFlans.
            </p>

            <!-- Grid de productos -->
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
                {% for flan in flanes_publicos %}
                <div class="col mb-5">
                    <div class="card shadow-lg rounded-4 border-0 h-100">
                        
                        <!-- Imagen -->
                        <img class="card-img-top rounded-top-4" src="{{ flan.imagen.url }}" alt="{{ flan.nombre_producto }}" style="height: 200px; object-fit: cover;">
                        
                        <!-- Detalles -->
                        <div class="card-body p-4 text-center">
                            <h5 class="titulo fw-bold mb-2">{{ flan.nombre_producto }}</h5>
                            <p class="descripcion text-muted small mb-3">{{ flan.descripcion }}</p>
                            <div class="precio text-center">
                                <p class="fw-bold text-primary mb-1">
                                    ${{ flan.precio_10u }} <span class="text-muted small">x10u</span>
                                </p>
                                <p class="fw-bold text-success mb-0">
                                    ${{ flan.precio_20u }} <span class="text-muted small">x20u</span>
                                </p>
                            </div>
                        </div>

                        <!-- Acciones -->
                        <div class="card-footer bg-transparent border-0 text-center pb-4">
                            <a href="{% url 'detalle_producto' flan.slug %}" class="btn button btn-outline-primary btn-sm rounded-3 shadow-sm me-2">Ver más</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>