{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'web/components/scripts.html' %}
    <title>Document</title>
</head>
<body>
    <!--Logo y encabezado-->
    <header class="header">
        <div class="container d-flex justify-content-center align-items-center h-100">
            <img src="{% static 'logo.png' %}" alt="Logo" class="logo">
        </div>
    </header>    
</body>
