{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'web/components/scripts.html' %}
</head>
<body class="d-flex flex-column min-vh-100">
    {% include 'web/components/navbar.html' %}
    <main class="container py-4 flex-grow-1">
        <h1>Flanes!</h1>
        {% for flan in flanes %}
            <h3>{{ flan.nombre_producto }}</h3>
            <img src="{{flan.imagen.url}}" width="250" alt="">
            <li>{{ flan.descripcion }}</li>
            <li>{{ flan.precio }}</li>

        {% endfor %}

    </main>
    {% include 'web/components/footer.html' %}
</body>
</html>