{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'web/components/scripts.html' %}
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- header -->
    {% include 'web/components/header.html' %}
    <!-- navbar -->
    {% include 'web/components/navbar.html' %}

    <main class="container py-4 flex-grow-1">
    
    <!-- Productos premium (is_private=True)-->
    {% include 'web/components/flanes_premium.html' %}

    </main>

    <!-- Botón flotante de compra -->
    {% include 'web/components/boton_compra.html' %}
    <!-- footer -->
    {% include 'web/components/footer.html' %}
</body>
</html>